*~
.DS_Store
Thumbs.db
.idea/
*.pyc
*.pyo
__pycache__/
*.class
*.jar
.env
.env.local
.env.*.local
.env.test
venv/
env/
/.venv/
/node_modules/
/build/
/dist/
/logs/
*.log
.vscode/
.idea/
*.iml
/vendor/
/bower_components/
/jspm_packages/
/node_modules/
*.mp4
Thumbs.db
Desktop.ini
.env.secret
.env.*.secret
/tmp/
/temp/
.cache/
*.code-workspace
create_model.py
/alembic/
*.ini
PKG-INFO
*.lock
*.cmd
models_gen.py
/tests/
settings.py
*.docx
config.py
*.csv
run_debug.py
run_compare.py
run_tests.py
cleaned_apartments.xml
raw_apartments.xml
municipalities_ru.geojson
regions.geojson
/docs/
app/files/municipalities_ru_big.geojson
app/files/regions_big.geojson
